.mod_prayertime {
	width: 100%;
}

.mod_prayertime .info {
	background-color: #eee;
	border: 1px solid #555;
	padding: 5px;
	margin-bottom:5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	overflow: auto;
}
.mod_prayertime .info .city {
	float: right;
	font-size:16px;
	font-weight:bold;
}

.mod_prayertime .info .date {
	clear:left;
	text-align:left;
}

.mod_prayertime .info .time {
	float: left;
	font-size:16px;
	font-weight:bold;
	direction:ltr;
}

.mod_prayertime .times {
	overflow: auto;
	background-color: #eee;
	border: 1px solid #555;
	padding: 9px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.mod_prayertime .times li {
	clear:both;
	margin-bottom: 2px;
	padding-bottom: 2px;
	height: 15px;
	border-bottom:1px solid #888;
}
.mod_prayertime .times li:last-child {
	border-bottom:none;
}

.mod_prayertime .times li.past,
.mod_prayertime .times li.next,
.mod_prayertime .times li.upcoming {
	background-repeat:no-repeat;
	background-position: top right;
	padding-right:18px;
	background-image: url(data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///1+uyf///yH5BAEAAAMALAAAAAAPAA8AAAIonD+Ci6qchDxyUmhevlqnXD0dGIofFTZnaY1RtV2bG0NeSnqqjvFDAQA7);
}

.mod_prayertime .times li.next {
	background-repeat:no-repeat;
	background-position: top right;
	background-image: url(data:image/gif;base64,R0lGODlhDwAPAIAAAP///1+uySH/C05FVFNDQVBFMi4wAwEAAAAh/ihCYW5uZXJzaG9wIEdJRiBBbmltYXRvciwgd3d3LnNlbHRlY28uY29tACH5BAkyAAAALAAAAAAPAA8AAAImhI+pFqvdVpgR0GpdPhVyFF3hZ4kjJj6MyZDp1rYdqKEUd0uwUQAAIfkECTIAAAAsAAAAAA8ADwAAAg2Ej6nL7Q+jnLTai2cBADs=);
}

.mod_prayertime li .prayer {
	float: right;
}

.mod_prayertime li .time {
	float: left;
}
